[submodule "third_party/flair"]
	path = third_party/flair
	url = https://github.com/mleszczy/flair.git
	branch = experiments
[submodule "third_party/smallfry"]
	path = third_party/smallfry
	url = https://github.com/mleszczy/smallfry.git
