[submodule "third_party/sentence_classification"]
	path = third_party/sentence_classification
	url = https://github.com/avnermay/sentence_classification.git
	branch = megan_sandbox
[submodule "third_party/flair"]
	path = third_party/flair
	url = https://github.com/mleszczy/flair.git
	branch = experiments
[submodule "third_party/smallfry"]
	path = third_party/smallfry
	url = https://github.com/mleszczy/smallfry.git
